<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <title>マイページ</title>
</head>
<body>
<main layout:fragment="content">
  <div class="container">
      <h3 class="page-title">マイページ</h3>
      <p th:text="|こんにちは ${userName} さん|"></p>
    <h4>
      メニュー
    </h4>
    <div>

      <div class="list-group">
        <a class="list-group-item list-group-item-action" th:href="@{/member/profile(form)}">会員基本情報更新 &raquo;</a>
        <a class="list-group-item list-group-item-action" th:href="@{/member/mail(form)}">
          メールアドレス変更 &raquo; <span class="badge badge-danger">ゲストユーザーの場合は変更できません</span>
        </a>
        <a class="list-group-item list-group-item-action" th:href="@{/member/password(form)}">
          パスワード変更 &raquo; <span class="badge badge-danger">ゲストユーザーの場合は変更できません</span></a>
        <a class="list-group-item list-group-item-action" th:href="@{/member/reservations/list}">予約内容の確認・キャンセル &raquo;</a>
      </div>
    </div>
  </div>
</main>
</body>
</html></title>
</head>
<body>

</body>
</html>