<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <title>予約 - サイトタイプ一覧</title>
</head>
<body>
<main layout:fragment="content">
  <div class="container">
    <h3 class="page-title">サイトタイプ一覧</h3>
      <div class="row" th:each="siteType : ${siteTypeList}">
        <div class="col-lg-8 mt-3 offset-lg-2">
          <div class="card shadow-sm" style="max-width: 800px">
            <div class="card-horizontal">
              <div>
                <img class="" th:src="${siteType.getListImgUrl()}" width="150px" height="150px" th:alt="|${siteType.getName()}の写真|">
              </div>
              <div class="card-body siteType-card-body">
                <h5 class="card-title" th:text="${siteType.getName()}"></h5>
                <p class="card-text"><small th:text="|利用可能人数: ${siteType.getCapacity()}名まで|"></small></p>
                <div class="d-flex justify-content-center">

                <a class="btn btn-primary btn-block" role="button" style="max-width: 400px"
                   th:href="@{/camping/schedule(siteTypeId=${siteType.getId()})}">選択</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
</body>
</html>