<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aozoracampreservation.repository.SiteTypeMapper">
  <select id="findAll" resultType="SiteType">
    select
            id
            , name
            , capacity
            , list_img_url
    from
            site_types
    order by
            id
  </select>
  <select id="findById" resultType="SiteType">
    select
            id
            , name
            , capacity
            , list_img_url
    from
            site_types
    where
            id = #{id}
  </select>
</mapper>